# Autodetect text files
* text=auto

# ...Unless the name matches the following
# overriding patterns

# Definitively text files
*.txt text
*.c text
*.h text

# Ensure those won't be messed up with
*.jpg binary
*.data binary

.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php_cs export-ignore

stubs/theme/public/components/* linguist-vendored
stubs/theme/resources/components/* linguist-vendored
resources/components/* linguist-vendored
public/components/* linguist-vendored
