# Autodetect text files
* text=auto

# ...Unless the name matches the following
# overriding patterns

# Definitively text files
*.txt text
*.c text
*.h text

# Ensure those won't be messed up with
*.jpg binary
*.data binary

themes/shared/public/components/* linguist-vendored
themes/shared/resources/components/* linguist-vendored
resources/components/* linguist-vendored
public/components/* linguist-vendored
