@import "variables";

//BOOTSTRAP MODULES

// Reset and dependencies
@import "../Components/bootstrap/scss/variables";
@import "../Components/bootstrap/scss/mixins";
@import "../Components/bootstrap/scss/normalize";
@import "../Components/bootstrap/scss/print";
@import "../Components/bootstrap/scss/reboot";
@import "../Components/bootstrap/scss/type";
@import "../Components/bootstrap/scss/images";
@import "../Components/bootstrap/scss/code";
@import "../Components/bootstrap/scss/grid";
@import "../Components/bootstrap/scss/tables";
@import "../Components/bootstrap/scss/forms";
@import "../Components/bootstrap/scss/buttons";
@import "../Components/bootstrap/scss/animation";
@import "../Components/bootstrap/scss/dropdown";
@import "../Components/bootstrap/scss/button-group";
@import "../Components/bootstrap/scss/input-group";
@import "../Components/bootstrap/scss/custom-forms";
@import "../Components/bootstrap/scss/nav";
@import "../Components/bootstrap/scss/navbar";
@import "../Components/bootstrap/scss/card";
@import "../Components/bootstrap/scss/breadcrumb";
@import "../Components/bootstrap/scss/pagination";
@import "../Components/bootstrap/scss/pager";
@import "../Components/bootstrap/scss/labels";
@import "../Components/bootstrap/scss/jumbotron";
@import "../Components/bootstrap/scss/alert";
@import "../Components/bootstrap/scss/progress";
@import "../Components/bootstrap/scss/media";
@import "../Components/bootstrap/scss/list-group";
@import "../Components/bootstrap/scss/responsive-embed";
@import "../Components/bootstrap/scss/close";
@import "../Components/bootstrap/scss/modal";
@import "../Components/bootstrap/scss/tooltip";
@import "../Components/bootstrap/scss/popover";
@import "../Components/bootstrap/scss/carousel";
@import "../Components/bootstrap/scss/utilities";
@import "../Components/bootstrap/scss/utilities-background";
@import "../Components/bootstrap/scss/utilities-spacing";
@import "../Components/bootstrap/scss/utilities-responsive";


//FA
@import "../Components/font-awesome/scss/font-awesome";

$nav-height: 3.4rem;

//main-styles

@import "inputs";

.home-intro{
    margin-top:$grid-gutter-width/2;
}

.top-nav{

}

.main-content{
    padding-top:$nav-height;
}

.sidebar{
    background:$gray-lighter;
    padding-top:$grid-gutter-width;
    position: fixed;
    z-index:1000;
    height:100%;
    top:$nav-height;
    bottom: 0;
    left: 0;
}




