@import "variables";

//BOOTSTRAP MODULES

// Reset and dependencies

@import "../components/bootstrap-sass/assets/stylesheets/bootstrap";


//FA
@import "../components/font-awesome/scss/font-awesome";


//main-styles

@import "inputs";

.full-height{
    height:100%;
}

.vertical-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

body{ //so the main top menu can squish in.
    padding-top: 70px;
}

.home-intro{
    margin-top:$grid-gutter-width/2;
}

.page-header{
    margin-top:0;
}

.sidebar{
    background:$gray-lighter;
    padding-top:$grid-gutter-width;
    position: fixed;
    z-index:1000;
    top:55px;
    bottom: 0;
    left: 0;
    overflow: auto;
}
.bootstrap-tagsinput{
    display: block !important;
}




