$soda-green: #0BD685;
$soda-green-2: #69ea14;

$grey-010: #525252;
$grey-020: #aeaeae;
$grey-030: #f0f2f1;
$grey-040: #fafafa;

$brand-primary: $soda-green;

$btn-border-radius-large: 0;

$btn-secondary-color:              rgba(255, 255, 255, 0.5);
$btn-secondary-bg:                 transparentize($soda-green, 0.5);
$btn-secondary-border:             rgba(255, 255, 255, 0.5);

$icon-font-path: 'https://s3.amazonaws.com/files.madeinkatana.com/soda-framework/common/fonts/bootstrap/';
