// New colours for after clean up
// #F0F0F0 Sidebar
// #F5F5F5 Secondary sidebar

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5); // #222
$gray-dark:              #3d3d3d;  // #333
$gray:                   #9c9c9c; // #555
$gray-light:             #ddd; // #777
$gray-lighter:           #F0F0F0; // #eee


$slate-010: #21242c;
$slate-020: #252932;
$slate-030: #242932;
$slate-040: #2f343f;
$slate-050: #3d4352;
$slate-060: #90A4AE;
$slate-070: #B9C6CC;
$slate-080: #CFD8DC;
$slate-090: #D9DCF2;
$slate-095: #E7E9F7;
$slate-100: #EDEFFB;

$lime-1: #69E815;
$lime-2: #0BD685;

$grape-1: #8125EE;
$grape-2: #607EEE;

$strawberry-1: #F75F86;
$strawberry-2: #EE25AF;

$white: #FFFFFF;

$brand-primary: #3B6DDF;
$brand-secondary: #5558D5;
$brand-success: $lime-2;
$brand-info: #1BBAF9;
$brand-warning: #FFB564;
$brand-danger: #F93A47;
