textarea {
  min-height: 200px;
}

.page-header {
  margin-top: 0;
}

.soda-logo-block {
  img {
    max-height: 40px;
  }

  &:hover {
    text-decoration: none;
  }
}

a {
  > i, span {
    display: inline-block;
    vertical-align: middle;
  }
}

.soda-wrapper {
  @media(max-width: $screen-sm-max) {
    min-height: 0 !important;
  }
}

.sortable-handle {
  cursor: move;
}

.cursor-move {
  cursor: move;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-na {
  cursor: not-allowed;
}

.soda-powered-by {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

body.loaded {
  .soda-powered-by {
    opacity: 1;
  }
}

.close {
  text-shadow: none;
  opacity: 0.75;
}

[v-cloak] {
  display: none;
}
