@import "color-palette";

/* GLOBAL SETTINGS
   ============================= */

$theme-1: $lime-1;
$theme-2: $lime-2;

$asset-path: "/soda/cms/";
$font-family-sans-serif:  Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
$fa-font-path: $asset-path + "fonts/font-awesome" !default;
$mdi-font-path: $asset-path + 'fonts/mdi' !default;
$image-path: $asset-path + "components/bootstrap-fileinput/img"; // bootstrap-fileinput plugin

/* CONTENT
   ============================= */

$body-bg: $white;
$font-size-base: 15px;
$text-muted: $gray;

$padding-base-vertical: 10px;
$padding-base-horizontal: 24px;

$padding-large-vertical: 12px;
$padding-large-horizontal: 32px;

$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;

/* LOGIN
   ============================= */

$login-box: $slate-010;
$login-box-text: $slate-060;
$login-box-link: $slate-060;
$login-box-link-hover: $slate-080;

/* NAVBAR
   ============================= */

$navbar-height: 75px;
$navbar-default-bg: $white;

$navbar-inverse-color: $slate-060;
$navbar-inverse-bg: $slate-010;
$navbar-inverse-border: transparent;

$navbar-inverse-link-color: $slate-060;
$navbar-inverse-link-hover-color: $white;
$navbar-inverse-link-hover-bg: transparent;
$navbar-inverse-link-active-color: $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg: rgba(0, 0, 0, 0.3);


/* NAV TABS
   ============================= */

$nav-tabs-border-color:                     transparent;
$nav-tabs-link-hover-border-color:          transparent;

$nav-tabs-active-link-hover-bg:             $white;
$nav-tabs-active-link-hover-border-color:   $slate-090;


/* MODALS
   ============================= */

$modal-inner-padding:         15px 25px;
$modal-title-padding:         15px 25px;
$modal-content-bg:            transparent;
$modal-backdrop-opacity:      .75;

/* OTHER
   ============================= */

$breadcrumb-padding-horizontal: 0;

$list-group-border: $slate-090;
$standard-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

$btn-default-bg: #F0F0F0;
$btn-default-color: $slate-020;
$btn-border-radius-base: 20px;
$btn-border-radius-large: 30px;

$input-bg-disabled:              $gray-lighter;
$input-color:                    $gray-dark;
$input-border:                   $gray-light;

$table-cell-padding:            25px;

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
