@import "variables";
@import "mixins";
// Plugins
@import "../../../node_modules/bootstrap-fileinput/sass/fileinput";
//noinspection CssUnknownTarget
@import "../../../node_modules/bootstrap-fileinput/themes/explorer/theme";
//noinspection CssUnknownTarget
@import "../../../node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min";
@import "../../../node_modules/select2/src/scss/core";
@import "../../../node_modules/select2-bootstrap-theme/src/select2-bootstrap";
//noinspection CssUnknownTarget
@import "../../../node_modules/bootstrap-sweetalert/dist/sweetalert";

.file-drop-zone {
  margin: 0;
  border: 0;
}

.krajee-default {
  &.file-preview-frame {
    box-shadow: none;
    &:not(.file-preview-error):hover {
      box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.5);
    }

    .file-thumbnail-footer {
      height: 25px;
    }
  }

  .file-actions {
    margin-top: 0;
  }

  .file-footer-caption {
    display: none;
  }
}

.bootstrap-tagsinput {
  display: block !important;
}

.select2 {
  max-width: 100%;
}

.select2-tags {
  .select2-container--open.select2-container--below .select2-selection {
    border-bottom-left-radius: $s2bs-input-border-radius;
    border-bottom-right-radius: $s2bs-input-border-radius;
    border-bottom: 1px solid $s2bs-input-border-focus;
  }
}

.file-preview {
  border-radius: 0;
  border: none;
  padding: 0px;

  > .fileinput-remove {
    display: none;
  }
}

.file-drop-zone {
  border-radius: 0;
  padding: 0;
}

.theme-explorer {
  .file-preview .table {
    border: 0;
  }

  .explorer-frame {
    td {
      border-top-width: 1px;
    }
    .kv-file-content {
      padding: 0;
    }
  }
}
