.dialog-box-wrapper {
  width: 560px;
  margin: 0 auto;
  margin-top: 120px;
}

.dialog-box {
  position: relative;
  a {
    color: $login-box-link;
    &:hover {
      color: $login-box-link-hover;
    }
  }

  .soda-logo-wrap {
    text-align: center;
    margin-bottom: 20px;
  }

  .soda-logo {
    display: inline-block;
    img {
      display: inline-block;
      vertical-align: middle;
      max-height: 70px;
      width: auto;
    }
  }

  .input-group-addon {
    background-color: $theme-2;
    border-color: rgba(0,0,0,0.1);
    border-bottom-width: 3px;
    color: $white;
    padding: 10px 15px;
    + .form-control {
      float: none;
    }
  }

  .form-control {
    border: none;
    padding: 10px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.3);
    outline: none !important;
    color: $slate-060;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    transition: background-color 0.25s ease, color 0.25s ease;
    will-change: background-color, color;
    &, &:hover, &:active, &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    &:focus {
      background-color: rgba(0,0,0,0.5);
      color: $slate-080;
    }
    &::-webkit-input-placeholder {
      color: $slate-050;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $slate-050;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $slate-050;
    }
    &:-ms-input-placeholder {
      color: $slate-050;
    }
  }
  .dialog-box-inner {
    padding: 40px 140px;
    background-color: $login-box;
    color: $login-box-text;
    border-radius: 10px;
    border-bottom: 5px solid rgba(0,0,0,0.5);
    &:before, &:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width: 300px;
      background: #777;
      box-shadow: 0 15px 10px #777;
      transform: rotate(-3deg);
    }
    &:after {
      transform: rotate(3deg);
      right: 10px;
      left: auto;
    }
  }

  a.btn-dialog {
    color: $white;
    &:hover, &:active, &:link, &:visited, &:focus {
      color: $white;
    }
  }

  .btn-dialog {
    padding: 10px;
    background-color: $theme-2;
    color: $white;
    outline: none !important;
    transition: all 0.25s ease-in;
    &:hover, &:active, &:focus {
      background-color: lighten($theme-2, 5%);
      color: $white;
      box-shadow: 0 0px 15px rgba(11, 214, 133, 0.4);
    }
  }
}
