.navbar {
  margin-bottom: 0;

  .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -$navbar-padding-horizontal;

    ~ .navbar-right {
      margin-right: 0;
    }
  }

  .btn-link {
    color: #E0E6EA;
    &:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }

  .soda-logo {
    line-height: $navbar-height;
    margin-right: 20px;
    img {
      max-height: 40px; //so we don't stretch out the nav bar.
    }
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-nav > li > a {
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    will-change: background
  }

  .sidebar-toggle {
    display: none;
    color: $navbar-inverse-link-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $navbar-inverse-link-hover-color;
    }
  }

  @media(max-width: $screen-sm-max) {

    .navbar-header {
      position: absolute;
      float: none;
      left: 50%;
      transform: translateX(-50%);

      .soda-logo {
        margin: 0;
      }
    }

    .navbar-nav {
      margin-top: 0;
      margin-bottom: 0;

      > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      &.navbar-right .dropdown-menu {
        right: 0;
        left: auto;
      }

      .open {
        a {
          background-color: transparent;
        }

        .dropdown-menu {
          position: absolute;
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 14px 0 rgba(0, 0, 0, 0.2);

          > li > a {
            color: #333;
            &:hover,
            &:focus {
              color: #fff;
              background-color: $brand-info;
            }
          }
          > .active > a {
            &,
            &:hover,
            &:focus {
              color: #fff;
              background-color: $brand-info;
            }
          }
          > .disabled > a {
            &,
            &:hover,
            &:focus {
              color: #777777;
              background-color: transparent;
            }
          }
        }
      }
    }

    .sidebar-toggle {
      display: block;
    }
  }
}
