.navbar-nav {
  .dropdown-toggle {
    min-width: 0;
  }
}

.mobile-header {
  display: none;
  margin-bottom: 0;
  border-radius: 0;
  border: 0;

  @media(max-width: $screen-sm-max) {
    display: block;
  }

  .sidebar-toggle {
    color: $navbar-inverse-link-color;

    &:hover {
      color: $navbar-inverse-link-hover-color;
      text-decoration: none;
    }
  }

  .soda-logo-block {
    display: block;
    width: 100%;
    height: $navbar-height;
    > svg, > img {
      padding: 20px 80px;
      max-height: $navbar-height;
      max-width: 100%;
    }
  }

  .navbar-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .navbar-left, .navbar-right {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    > li > a {
      padding-top: ($navbar-height - $line-height-computed) / 2;
      padding-bottom: ($navbar-height - $line-height-computed) / 2;
    }
  }

  .navbar-left {
    float: left !important;
    margin-left: 0;
    left: 0;
  }

  .navbar-right {
    margin-right: 0;
    right: 0;
  }

  @media(max-width: $screen-sm-max) {
    .navbar-nav {
      &.navbar-right {
        .dropdown-menu {
          right: 0;
          left: auto;
        }
      }

      .open {
        a {
          background-color: transparent;
        }

        .dropdown-menu {
          position: absolute;
          background-color: #FFFFFF;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 14px 0 rgba(0, 0, 0, 0.2);

          > li > a {
            color: #333333;
            &:hover,
            &:focus {
              color: #FFFFFF;
              background-color: $brand-info;
            }
          }
          > .active > a {
            &,
            &:hover,
            &:focus {
              color: #FFFFFF;
              background-color: $brand-info;
            }
          }
          > .disabled > a {
            &,
            &:hover,
            &:focus {
              color: #777777;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

.content-navbar {
  margin-left: -15px;
  margin-right: -15px;
  border-width: 0;
  border-bottom: 1px solid #F0F0F0;
  border-radius: 0 !important;
  transform: translateX(0px);
  transition: transform 0.25s ease-in-out;
  z-index: 5;

  @media(max-width: $screen-sm-max) {
    display: none;
    //min-height: $navbar-height * .66666;
  }

  .dropdown-menu {
    border: 0;
    margin-top: 1px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  }

  .navbar-nav {
    .mdi.mdi-settings {
      font-size: 18px;
      padding: 0 7px;
    }

    > .open {
      > a {
        &, &:focus, &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }

    > li > a {
      .avatar-image {
        height: $navbar-height - (($navbar-height - $line-height-computed) / 1.5);
        width: $navbar-height - (($navbar-height - $line-height-computed) / 1.5);
        margin: -(($navbar-height - $line-height-computed) / 4) 0;
        margin-right: 10px;
        border-radius: 100%;
      }
    }

    &.navbar-breadcrumb {
      margin-left: 15px;
      color: rgba(0, 0, 0, 0.7);

      @media(max-width: $screen-sm-max) {
        margin-left: 0px;
      }

      > li {
        float: left;
        background-color: #FFFFFF;
        border-radius: 5px;
        padding: 8px 14px;
        margin: 11px 10px 12px 0;

        &.active {
          color: rgba(0, 0, 0, 0.7);
        }

        > a {
          display: inline-block;
          color: $brand-primary;
          padding: 0;

          &:hover {
            color: darken($brand-primary, 10%);
            text-decoration: underline;
          }
        }

        @media(max-width: $screen-sm-max) {
          &, & > a {
            line-height: $navbar-height * .66666;
          }
        }
      }
    }
  }
}
