.sidebar-offset {
  position: relative;
  transition: transform 0.25s ease-in-out;
  @media(min-width: $screen-md-min) {
    margin-left: 300px;
  }
}

.sidebar {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 0;
  transform: translateX(-300px);
  transition: transform 0.25s ease-in-out;

  @media(min-width: $screen-md-min) {
    transform: translateX(0px);
    width: 300px;
  }

  @media(max-width: $screen-sm-max) {
    top: $navbar-height;
    width: 300px;

    &.in {
      transform: translateX(0);
    }
  }

  svg.splash {
    fill: $white;
    height: 10px;
    width: 10px;
    position: absolute;
    display: block;
  }

  .soda-logo-block {
    display: block;
    position: relative;
    text-align: center;
    height: $navbar-height;
    img, svg {
      display: block;
      padding: 10px 80px;
      position: absolute;
      bottom: 0;
      width: 100%;
      max-height: $navbar-height;
    }
  }

  .sidebar__top {
    position: relative;
    background-color: #F0F0F0;
    > svg {
      &.wave {
        width: 100%;
        display: block;
      }
      &.splash {
        right: 65px;
        top: 95px;
      }
    }

    @media(max-width: $screen-sm-max) {
      display: none;
    }
  }

  .sidebar__inner {
    position: relative;
    min-height: 100%;
  }

  .sidebar__bg {
    position: absolute;
    top: $navbar-height + 153px;
    left: 0;
    width: 100%;
    bottom: 0;

    > svg.wave {
      width: 100%;
      display: block;
      position: absolute;

      &.wave-top {
        bottom: 100%;
      }

      &.wave-bottom {
        bottom: 0;
      }
    }

    > svg.splash {
      &.splash-top {
        top: -45px;
        left: 20px;
      }
      &.splash-bottom {
        bottom: 10px;
        right: 60px;
      }
    }

    @media(max-width: $screen-sm-max) {
      top: 0;

      > svg.wave.wave-top {
        display: none;
      }
    }
  }

  li.nav-item, li.nav-item-group {
    outline: 0;
    > span.nav-link, > a.nav-link {
      display: block;
      position: relative;
      padding: 12px 24px;
      outline: none;
      cursor: pointer;
      border-radius: 0;
      transition: background-color 0.25s ease, color 0.25s ease;
      i {
        margin-left: 0px;
        margin-right: 10px;
        min-width: 20px;
        text-align: center;
        &.icon {
          font-weight: bold;
        }

        &.mdi {
          font-size: 18px;
        }
      }

      i, span {
        display: inline-block;
        vertical-align: middle;
      }

      .nav-dropdown-indicator {
        float: right;
        transform-origin: 50% 50%;
        transition: transform 0.25s ease;
        font-size: 10px;
        line-height: $font-size-base * $line-height-base;
        margin-right: 0;
        margin-top: 2px;

        &.active {
          transform: rotate(90deg);
        }
      }
    }

    + .nav-item {
      margin-top: 0;
    }
  }

  li.nav-item-group {
    ul {
      padding: 8px 0;
      li.nav-item {
        > span.nav-link, > a.nav-link {
          display: block;
          padding: 6px 24px 6px 60px;
        }

        &.active {
          > span.nav-link, > a.nav-link {
            font-weight: bold;
          }
        }
      }
    }
  }

  .nav-sidebar {
    margin-top: 10px;

    @media(max-width: $screen-sm-max) {
      margin-top: 0px;
    }
  }
}
