$slate-1: #212C31;
$slate-2: #263238;
$slate-3: #2C3A41;
$slate-4: #37474F;
$slate-5: #455A64;
$slate-6: #90A4AE;
$slate-7: #B9C6CC;
$slate-8: #CFD8DC;
$slate-9: #D7DCDE;

$lime-1: #69E815;
$lime-2: #0BD685;

$white: #FFFFFF;
