$slate-010: #212C31;
$slate-020: #263238;
$slate-030: #2C3A41;
$slate-040: #37474F;
$slate-050: #455A64;
$slate-060: #90A4AE;
$slate-070: #B9C6CC;
$slate-080: #CFD8DC;
$slate-090: #D7DCDE;
$slate-095: #E7EAEB;
$slate-100: #F1F3F6;

$lime-1: #69E815;
$lime-2: #0BD685;

$white: #FFFFFF;
