/* GLOBAL SETTINGS
   ============================= */

$theme-1: $lime-1;
$theme-2: $lime-2;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$fa-font-path: "/sodacms/sodacms/components/font-awesome/fonts" !default;

/* CONTENT
   ============================= */

$content-background: $slate-9;
$content-inner-background: $white;
$content-inner-border: $slate-7;
$content-inner-text: rgb(51, 51, 51);

/* LOGIN
   ============================= */

$login-box: $slate-1;
$login-box-text: $slate-6;
$login-box-link: $slate-6;
$login-box-link-hover: $slate-8;

/* NAVBAR
   ============================= */

$navbar-height: 60px;
$navbar-background: $slate-1;

$navbar-inverse-color: $slate-6;
$navbar-inverse-bg: $slate-1;
$navbar-inverse-border: transparent;

$navbar-inverse-link-color: $slate-6;
$navbar-inverse-link-hover-color: $white;
$navbar-inverse-link-hover-bg: transparent;
$navbar-inverse-link-active-color: $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg: rgba(0, 0, 0, 0.3);

/* SIDEBAR
   ============================= */

$sidebar-background: $slate-4;
$sidebar-link: transparent;
$sidebar-link-text: $slate-6;
$sidebar-link-hover: $slate-5;
$sidebar-link-hover-text: $slate-8;
$sidebar-link-active: $slate-2;
$sidebar-link-active-text: $white;
$sidebar-link-active-sub: $slate-2;
$sidebar-link-active-sub-text: $white;
$sidebar-group-link: $slate-3;
$sidebar-group-link-text: $slate-6;
$sidebar-group-link-hover: $slate-4;
$sidebar-group-link-hover-text: $slate-8;
$sidebar-group-link-active: $slate-3;
$sidebar-group-link-active-text: $white;
