/* GLOBAL SETTINGS
   ============================= */

$theme-1: $lime-1;
$theme-2: $lime-2;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$fa-font-path: "/soda/cms/components/font-awesome/fonts" !default;

/* CONTENT
   ============================= */

$body-bg: $slate-090;
$content-background: $slate-090;
$content-inner-background: $white;
$content-inner-border: $slate-070;
$content-inner-text: rgb(51, 51, 51);

/* LOGIN
   ============================= */

$login-box: $slate-010;
$login-box-text: $slate-060;
$login-box-link: $slate-060;
$login-box-link-hover: $slate-080;

/* NAVBAR
   ============================= */

$navbar-height: 60px;
$navbar-background: $slate-010;

$navbar-inverse-color: $slate-060;
$navbar-inverse-bg: $slate-010;
$navbar-inverse-border: transparent;

$navbar-inverse-link-color: $slate-060;
$navbar-inverse-link-hover-color: $white;
$navbar-inverse-link-hover-bg: transparent;
$navbar-inverse-link-active-color: $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg: rgba(0, 0, 0, 0.3);

/* SIDEBAR
   ============================= */

$sidebar-background: $slate-040;
$sidebar-link: transparent;
$sidebar-link-text: $slate-060;
$sidebar-link-hover: $slate-050;
$sidebar-link-hover-text: $slate-080;
$sidebar-link-active: $slate-020;
$sidebar-link-active-text: $white;
$sidebar-link-active-sub: $slate-020;
$sidebar-link-active-sub-text: $white;
$sidebar-group-link: $slate-030;
$sidebar-group-link-text: $slate-060;
$sidebar-group-link-hover: $slate-040;
$sidebar-group-link-hover-text: $slate-080;
$sidebar-group-link-active: $slate-030;
$sidebar-group-link-active-text: $white;
