.titlescreen {
  background: $soda-green;
  position: relative;
  padding-top: 50px;
  padding-bottom: 90px;

  .navbar {
    margin-bottom: 0;
  }

  section {
    padding: 50px;
  }

  main {
    padding-top: 50px;
  }

  .section__main {
    color: #FFF;
    text-align: center;

    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    height: 700px;

    img {
      display: block;
      margin: 0 auto;
    }

    .btn {
      margin: 15px 5px;
    }
  }

  .section__main {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  &.loaded {
    .section__main {
      opacity: 1;
    }
  }
}
