@import '../color-palette';

$primary: $slate-040;
$secondary: $slate-030;

/* Nav Pills
   ============================= */

$nav-pills-active-bg: $primary;

/* SIDEBAR
   ============================= */

$sidebar-link-text: $slate-100;

$sidebar-group-bg: rgba(255, 255, 255, 0.1);
$sidebar-group-link-text: $slate-100;

$sidebar-group-link-hover: rgba(255, 255, 255, 0.1);

@import 'theme';
