---
---

@import 'variables';
@import 'bootstrap';

body {
  padding-top: 70px;
  color: $grey-010;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 200;
  margin: .67em 0;
  -webkit-font-smoothing: antialiased;
}

h2, h3, h4, p strong {
  -webkit-font-smoothing: antialiased;
}

a {
  background-color: transparent;
  color: $soda-green;
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin: 10px 0 20px;
}

code {
  color: $soda-green;
}

a.navbar-brand {
  img, span {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    max-height: 20px;
  }
}

.v-center {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

@import 'animations';

@import 'blocks/footer';
@import 'blocks/sidebar';

@import 'elements/btn';
@import 'elements/highlighter-rouge';
@import 'elements/syntax-highlighters/laravel';

@import 'pages/docs';
@import 'pages/titlescreen';







