---
---

body {
  padding-top: 70px;
  color: #525252;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 200;
  margin: .67em 0;
  -webkit-font-smoothing: antialiased;
}

h2, h3, h4, p strong {
  -webkit-font-smoothing: antialiased;
}

a {
  background-color: transparent;
  color: #0BD685;
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin: 10px 0 20px;
}

code {
  color: #0BD685;
}

@import 'sidebar';
@import 'docs';
@import 'highlighter-rouge';
@import 'syntax-highlighters/laravel';
@import 'footer';






