---
---

body {
  padding-top: 70px;
  color: #525252;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 200;
  margin: .67em 0;
  -webkit-font-smoothing: antialiased;
}

h2, h3, h4, p strong {
  -webkit-font-smoothing: antialiased;
}

a {
  background-color: transparent;
  color: #0BD685;
}

p {
  code {
    color: #0BD685;
  }
  line-height: 1.5;
  margin: 10px 0 20px;
}

.btn {
  &.focus, &:focus, &:hover {
    text-decoration: none;
  }
}

a {
  text-decoration: none;
}

.sidebar {
  border-right: 1px solid #f0f2f1;
  width: 250px;
  float: left;
  padding: 0 35px;
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      font-size: 14px;
      font-weight: 400;
      padding: 0 0 10px;
      margin: 1em 0 0;
      > ul {
        border-top: 1px dashed rgba(0, 0, 0, 0.1);
        display: block;
        list-style: none;
        margin: .5em 0 0;
        padding: .5em 0 0;
        font-size: 14px;
      }
    }
  }
  a {
    line-height: 1.5;
    &:hover {
      color: #0BD685;
    }
  }
}

.docs {
  .btn-edit-page {
    margin-top: 45px;
  }
  article {
    padding: 25px 125px 50px 50px;
    margin-left: 300px;
    h2 {
      &:first-of-type {
        margin-top: 25px;
      }
      font-size: 30px;
      font-weight: 400;
      margin-top: 55px;
      position: relative;
      &:before {
        content: "#";
        margin-left: -25px;
        position: absolute;
        font-size: 28px;
        top: 5px;
        color: #0BD685;
        opacity: .6;
      }
    }
    h3 {
      font-size: 24px;
      font-weight: 400;
      margin-top: 45px;
    }
    h4 {
      font-size: 16px;
      font-weight: 700;
      margin-top: 35px;
    }
    h2, h3, h4, h5, h6 {
      a {
        color: #525252;
        text-decoration: none;
        &:hover {
          color: #525252;
          text-decoration: none;
        }
      }
    }
    p {
      font-size: 14.5px;
      line-height: 1.7;
    }
    ul#markdown-toc {
      margin: 0;
      padding: 0 0 50px;
      list-style: none;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      border-bottom: 1px solid #f0f2f1;
      -webkit-font-smoothing: antialiased;
      li:before {
        content: "# ";
        margin-right: .25em;
        color: #0BD685;
        opacity: .3;
      }
    }
    li > ul {
      font-size: 15px;
      font-weight: 400;
      list-style: none;
    }
    .highlighter-rouge {
      font-size: 11px;
      line-height: 2;
      vertical-align: middle;
      color: #000;
      text-shadow: 0 1px #fff;
      text-align: left;
      line-height: 1.7;
      font-size: 11.5px;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
      font-family: "Operator Mono", "Fira Code", Consolas, Monaco, "Andale Mono", monospace;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      direction: ltr;
    }
    code.highlighter-rouge {
      background: #f0f2f1;
      color: #0BD685;
      padding: 1px 5px;
      border-radius: 3px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    }
    .highlighter-rouge > pre {
      margin: 10px 0 20px;
      overflow: auto;
      border: none;
      background: rgba(238, 238, 238, 0.35);
      border-radius: 3px;
      padding: 10px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    }
  }
}

footer {
  background: #fafafa;
  padding: 35px 20px;
  text-align: center;
  p {
    color: #aeaeae;
    margin: 0px;
    font-size: 12px;
  }
}
