.sidebar {
  background: $sidebar-to-bg;

  .sidebar__top {
    > svg {
      fill: $sidebar-to-bg;
    }
  }

  .sidebar__bg {
    > svg {
      fill: $sidebar-from-bg;
    }

    > svg:last-child {
      border-bottom: 40px solid $sidebar-from-bg;
    }
  }

  .sidebar__bg {
    background: $sidebar-from-bg; /* Old browsers */
    background: -moz-linear-gradient(top, $sidebar-from-bg 0%, $sidebar-to-bg 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $sidebar-from-bg 0%, $sidebar-to-bg 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $sidebar-from-bg 0%, $sidebar-to-bg 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$sidebar-from-bg}', endColorstr='#{$sidebar-to-bg}',GradientType=0 ); /* IE6-9 */
  }
  li.nav-item, li.nav-item-group {
    > span.nav-link, > a.nav-link {
      background: $sidebar-link;
      color: $sidebar-link-text;

      &:hover {
        background-color: $sidebar-link-hover;
        color: $sidebar-link-hover-text;
      }
    }
  }
  li.nav-item {
    &.active {
      > a.nav-link, > span.nav-link {
        &, &:hover, &:focus, &:active {
          background: $sidebar-link-active;
          color: $sidebar-link-active-text;
        }
      }
    }
  }

  li.nav-item-group {
    &.active {
      > a.nav-link, > span.nav-link {
        &, &:hover, &:focus, &:active {
          background: $sidebar-link-active-sub;
          color: $sidebar-link-active-sub-text;
        }
      }
    }

    ul {
      background-color: $sidebar-group-bg;
      li.nav-item {
        > span.nav-link, > a.nav-link {
          background: $sidebar-group-link;
          color: $sidebar-group-link-text;

          &:hover {
            background-color: $sidebar-group-link-hover;
            color: $sidebar-group-link-hover-text;
          }
        }

        &.active {
          > span.nav-link, > a.nav-link {
            background: $sidebar-group-link-active;
            color: $sidebar-group-link-active-text;
          }
        }
      }
    }
  }
}
