.soda-login {
  background: #f0f0f0;
  background-size: cover;
  padding: 0;

  .logo-container{
    position: relative;
    text-align: center;
    top: 15vh;
    z-index: 101;
    svg{
      width: 300px;
      path{
        fill: #8028e9;
      }
    }
  }

  .soda-login__container {
    width: 100%;
    max-width: 540px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .soda-login__box {
    position: relative;
    width: 100%;
    padding: 50px 0 20px 0;
    z-index: 5;
  }

  .soda-login__logo {
    text-align: center;
    margin-bottom: 10px;
    img {
      max-height: 55px;
    }
  }

  input, button, button .fa, .soda-login__underline, .soda-login__pass-forgot a {
    transition: 300ms cubic-bezier(.4, 0, .2, 1);
  }

  .soda-login__input {
    width: 100%;
    margin-top: 20px;
    height: 90px;
    position: relative;
    input {
      height: 70px;
      width: 100%;
      position: relative;
      top: 10px;
      border: white solid;
      border-radius: 50px;
      background: white;
      font-size: 18px;
      color: black;
      font-weight: 300;
      margin: 20px 0;
      padding: 20px;
      &:focus {
        outline: none !important;
      }
      &:-webkit-autofill {
        &, &:hover, &:focus, &:active {
          background: transparent none !important;
          background-color: transparent !important;
          transition: background-color 9999s ease-in-out 0s !important;
          color: #3a3a3a;
          -webkit-text-fill-color: #3a3a3a;
        }
      }
    }
  }

  .soda-login__button-container {
    width: 100%;
    position: relative;
    z-index: 2;
    height: auto;
    margin: 0;
    text-align: center;
    button {
      display: inline-block;
      position: relative;
      width: 40%;
      height: 70px;
      padding: 19px 0;
      background: #8028e9;
      font-weight: 900;
      font-size: 18px;
      color: white;
      border: 5px solid white;
      border-radius: 50px;
      cursor: pointer;
      z-index: 2;
      &:hover, &:active, &:focus {
        outline: none;
        background-color: #617eeb;
        border-color: white;
        border-width: 5px;
        color: #fff;
      }
    }
  }

  .soda-login__pass-forgot {
    a {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      &:hover, &:active, &:focus {
        color: rgba(0, 0, 0, 0.55);
      }
    }
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .wave-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
    canvas{
      position: absolute;
      width: 101%;
      height: 100%;
      overflow: hidden;
    }
  }

  .soda-login__errors {
    margin-top: 20px;
    .error {
      color: rgba(255, 143, 143, 0.75);
      display: block;
    }
  }
}

.fadeInUp {
  animation: fadeInUp linear 0.75s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}