.main-content {
  background-color: $content-background;

  .breadcrumb {
    margin: 0 -15px;
    padding: 12px 30px;
    border-bottom: 1px solid $content-inner-border;
    background-color: $content-inner-background;
  }
}

.main-content-inner {
  padding: 30px;
  margin: 30px 15px;
  background-color: $content-inner-background;
  color: $content-inner-text;
  border: 1px solid $content-inner-border;
}

.content-header {
  margin: 30px 15px 0;
  h1 {
    margin: 0;
    font-size: 24px;
    i, span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
