.main-content {
  background-color: $content-background;

  .breadcrumb {
    margin: 0 -15px;
    padding: 15px 30px;
    border-bottom: 1px solid $content-inner-border;
    background-color: $content-inner-background;
  }
}

.main-content-inner {
  padding: 30px;
  margin: 30px 15px;
  background-color: $content-inner-background;
  color: $content-inner-text;
  border: 1px solid $content-inner-border;
}
