.navbar {
  margin-bottom: 0;

  .btn-link {
    color: #E0E6EA;
    &:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }

  .soda-logo {
    line-height: $navbar-height;
    margin-right: 20px;
    img {
      max-height: 40px; //so we don't stretch out the nav bar.
    }
    &:hover {
      text-decoration: none;
    }
  }
}
