.btn {
  transition: background-color 0.25s ease;
  border: 0;
  border-radius: 20px;
  @media(max-width: $screen-md){
    padding: 10px 20px;
  }
}

.btn-lg {
  font-size: 16px;
  border-radius: 35px;
}

.dropdown-toggle {
  min-width: 180px;
  text-align: left;
  .mdi-menu-down {
    float: right;
  }
  @media(max-width: $screen-md){
    min-width: 100px;
  }
}

.btn-dropdown {
  background-color: $input-bg;
  border: 1px solid $input-border;
  .caret {
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#999' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 99% 50%;
    background-repeat: no-repeat;
    height: 10px;
    width: 20px;
    border: none;
    margin-top: -4px !important;
    right: 6px !important;
  }
}

.btn, .content-header, .dropdown-toggle, .dropdown-item {
  span, i {
    display: inline-block;
    //vertical-align: middle;
    + span, + i {
      margin-left: 5px;
    }
  }
}

.btn {
  span, i {
    vertical-align: middle;
  }
  .fa {
    position: relative;
    top: 1px;
  }
}

.input-group-btn {
  .btn {
    height: $input-height-base;
  }
}
