
.dropdown-menu {
  position: absolute;
  top: auto;
  border: none;
  border-radius: 6px;
  left: auto;
  pointer-events: none;
  right: 0px;
  min-width: 180px;
  padding: 0px;
  display: block;
  transform-origin: 50% 90%;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: scale(.8);
  transition: all .15s ease;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05), 0 2px 14px 0 rgba(0, 0, 0, .05);
  margin: 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: $gray-lighter;
  background-clip: padding-box;
  overflow: hidden;
  > li, > div {
    a {
      transition: background-color 0.15s linear, color 0.15s linear;
      display: block;
      padding: 8px 25px;
      clear: both;
      font-weight: 400;
      color: #333;
      white-space: nowrap;
    }
    > a:hover {
      background: #fff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    }
    &.warning a:hover {
      background: #e75650;
      color: #fff;
    }
  }
}

.open .dropdown-menu {
  transform: scale(1);
  opacity: 1;
  z-index: 9999;
  pointer-events: auto;
}
