select.form-control {
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#999' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 99% 50%;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.form-control {
  box-shadow: none;
  transition: background-color ease-in-out 0.15s, border-color ease-in-out 0.15s;

  &:hover {
    background-color: #fcfdfe;
  }

  &:focus {
    background-color: #fbfcfd;
  }
}

.file-input {
  .file-preview {
    .file-preview-thumbnails {
      @include clearfix;
      max-height: 270px;
      overflow-y: auto;
    }
  }
}

.checkbox, .radio {
  &, &-inline {
    label {
      font-weight: normal;
    }
  }
}

.form-group {
  margin-bottom: 30px;
  label {
    color: $slate-040;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset-group {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

/*
  .form-group {
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #ECEEEF;
  }
*/

.toggle-switch {
  input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
      padding: 2px;
      width: 50px;
      height: 25px;
      background-color: #dddddd;
      border-radius: 25px;
      &:before, &:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
      }
      &:before {
        right: 1px;
        background-color: #f1f1f1;
        border-radius: 25px;
        transition: background 0.4s;
      }

      &:after {

        width: 23px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: margin 0.4s;
      }
    }

    &:checked {
      + label:before {
        background-color: $brand-success;
      }
      + label:after {
        margin-left: 25px;
      }
    }
  }
}

.form-group-inline,  form-group-inline-group {
  label {
    text-align: right;
  }
}
