select.form-control {
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#999' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 99% 50%;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.form-control {
  box-shadow: none;
  transition: background-color ease-in-out 0.15s, border-color ease-in-out 0.15s;
  padding-left: 18px;
  padding-right: 18px;

  &:hover {
    background-color: #fcfdfe;
  }

  &:focus {
    background-color: #fbfcfd;
  }
}

.file-input {
  .file-preview {
    .file-preview-thumbnails {
      @include clearfix;
      max-height: 270px;
      overflow-y: auto;
    }
  }
}

.checkbox, .radio {
  &, &-inline {
    label {
      font-weight: normal;
    }
  }
}

.form-group {
  margin-bottom: 30px;
  label {
    color: $slate-040;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset-group {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.input-group--alt {
  // Display as table-cell
  // -------------------------
  .input-group-addon,
  .input-group .form-control  {
    &:not(:first-child):not(:last-child) {
      border-radius: $border-radius-base;
    }
  }

  .input-group-btn {
    &:not(:first-child):not(:last-child) {
      border-radius: $btn-border-radius-base;
    }
  }

  // Reset rounded corners
  .input-group .form-control:first-child,
  .input-group-addon:first-child {
    @include border-right-radius($border-radius-base);
  }

  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group > .btn,
  .input-group-btn:first-child > .dropdown-toggle,
  .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
  .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    @include border-right-radius($btn-border-radius-base);
  }

  .input-group-addon:first-child {
    border-right-width: 1px;
  }

  .input-group .form-control:last-child,
  .input-group-addon:last-child {
    @include border-left-radius($border-radius-base);
  }

  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn,
  .input-group-btn:last-child > .dropdown-toggle,
  .input-group-btn:first-child > .btn:not(:first-child),
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    @include border-left-radius($btn-border-radius-base);
  }
  .input-group-addon:last-child {
    border-left-width: 1px;
  }

  // Button input groups
  // -------------------------
  .input-group-btn {
    // Negative margin for spacing, position for bringing hovered/focused/actived
    // element above the siblings.
    > .btn {
      margin-left: 10px;
    }

    // Negative margin to only have a 1px border between the two
    &:first-child {
      > .btn,
      > .btn-group {
        margin-left: 10px;
      }
    }
    &:last-child {
      > .btn,
      > .btn-group {
        margin-left: 10px;
      }
    }
  }
}

.toggle-switch {
  input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
      padding: 2px;
      width: 50px;
      height: 25px;
      background-color: #dddddd;
      border-radius: 25px;
      &:before, &:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
      }
      &:before {
        right: 1px;
        background-color: #f1f1f1;
        border-radius: 25px;
        transition: background 0.4s;
      }

      &:after {

        width: 23px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: margin 0.4s;
      }
    }

    &:checked {
      + label:before {
        background-color: $brand-success;
      }
      + label:after {
        margin-left: 25px;
      }
    }
  }
}



.form-group--inline, .form-group--inline-group {
  .form-group__label {
    label {
      margin-top: $padding-base-vertical;
      margin-bottom: 0;
    }
  }

  .form-group__element {
    width: 100%;
  }
}



@media(min-width: $screen-md-min) {
  display: block;

  .form-group--inline, .form-group--inline-group {
    display: table;

    .form-group__label {
      text-align: right;
      width: 200px;
      min-width: 200px;
      padding-right: 20px;
    }
  }

  .form-group--inline {
    .form-group__label, .form-group__element {
      display: table-cell;
      vertical-align: top;
    }
  }

  .form-group--inline-group {
    .form-group__label, .form-group__label + .form-group__element {
      display: table-cell;
      vertical-align: top;
    }
  }
}
