.modal-content {
  box-shadow: none !important;
  border-radius: 10px;
  overflow: hidden;
}

.modal-header {
  background-color: $brand-primary;
  color: #FFFFFF;
  .close {
    margin-top: 2px;
    color: #FFFFFF;
    opacity: .4;
  }
}

.modal-body {
  background-color: #FFFFFF;
}

.modal-footer {
  background-color: #FFFFFF;
}
