.nav-tabs {
  border-bottom: 2px solid $content-inner-border;
  > li {
    margin-right: 3px;
    margin-bottom: -2px;
    > a {
      background-color: rgba(0, 0, 0, 0.03);
      border-width: 2px 0;
      border-bottom-color: $content-inner-border !important;
      transition: background-color .15s ease;

      &:hover {
        background-color: rgba(255, 255, 252, 0.7);
      }
    }

    &.active {
      > a {
        &, &:active, &:hover, &:focus {
          border-width: 2px 0;
          background-color: $content-inner-background;
          border-bottom-color: transparent !important;
        }
      }
    }
  }
}

.tab-content {
  overflow: hidden;
}

.tab-pane {
  .content-block {
    border-top-left-radius: 0;
    border-top: 0;
  }
}

.tab-pane.active{
  @extend .animated;
  @extend .fadeInDown;
}
