ul.page-tree {
  list-style: none;
  padding-left: 0;
  .tree-row {
    > ul {
      list-style: none;
      transition: opacity 0.25s ease;
      will-change: opacity;
      visibility: hidden;
      opacity: 0;
      height: 0;
    }

    &.root-node {
      > ul {
        padding-left: 0;
        visibility: visible;
        opacity: 1;
        height: auto;
      }
    }

    &.has-sub-items {
      > .tree-item > .minify {
        cursor: pointer;
        > i {
          opacity: 1;
        }
      }
    }

    &.expanded {
      > ul {
        visibility: visible;
        opacity: 1;
        height: auto;
      }
      > .tree-item > .minify > i {
        transform: rotate(90deg);
      }
    }
  }

  .locked-handle, .handle, .locked-minify, .minify, .item-status, .item-title {
    display: inline-block;
    vertical-align: middle;
  }

  .locked-handle, .handle, .locked-minify, .minify {
    margin: 0 5px;
    color: $slate-060;
    line-height: 35px;
  }

  .locked-handle, .locked-minify {
    opacity: 0;
  }

  .handle {
    cursor: move;
  }

  .active-circle, .inactive-circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .active-circle {
    background-color: $brand-success;
  }

  .inactive-circle {
    background-color: $gray-light;
  }

  .minify {
    i {
      opacity: 0;
      will-change: transform, opacity;
      transition: transform .2s ease, opacity .2s ease;
    }
  }

  .item-status {
    margin-left: 5px;
    margin-right: 2px;
  }

  .item-title {
    margin-right: 5px;
  }

  .tree-item {
    padding: 10px;
    background-color: $content-inner-background;
    margin: 0 0 5px;
    box-shadow: $standard-shadow;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: opacity 0.25s ease-in, background-color 0.25s ease-in;

    &:hover {
      background-color: #f6f6f7;
    }

    &.hovering {
      background-color: transparent;
      margin-left: 20px;
      height: 55px;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $slate-060;
      &:before {
        content: "\f105";
        display: inline-block;
        margin-left: -30px;
        line-height: 35px;
      }
    }
  }

  .option-buttons {
    .btn {
      min-width: 35px;
    }

    .option-more {
      i {
        transition: transform .2s ease;
      }
    }

    .open {
      .option-more i {
        transform: rotate(90deg);
      }
    }
  }
}
