.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F9FAFA;
}

.table {
  &.middle {
    th, td {
      vertical-align: middle;
    }
  }
  tr.middle {
    > td, > th {
      vertical-align: middle;
    }
  }

  td.middle, th.middle {
    vertical-align: middle;
  }
}
