.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F9FAFA;
}

.table {
  &.middle {
    th, td {
      vertical-align: middle;
    }
  }
  tr.middle {
    > td, > th {
      vertical-align: middle;
    }
  }

  td.middle, th.middle {
    vertical-align: middle;
  }
}

.tabbed-table-container {
  border-radius: 5px;
  overflow: hidden;

  .nav-pills {
    background-color: $slate-095;

    > li > a {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .tab-content {
    border: 1px solid $slate-095;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }

  .table {
    margin-bottom: 0;

    td {
      border-top: 1px solid $slate-095;
    }
  }
}


@media(max-width: $screen-sm-max) {
  .table {
    table-layout: fixed;

    > thead > tr > th, > tbody > tr > td {
      width: auto !important;
    }

    > thead > tr > th > a > .fa {
      display: none;
    }
  }
}
