.table {
  .active-circle, .inactive-circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .active-circle {
    background-color: $lime-2;
  }

  .inactive-circle {
    background-color: transparent;
    border: 1px solid $gray;
  }
  > thead {
    > tr {
      background-color: $gray-lighter;
      > th {
        text-transform: uppercase;
        font-size: 12px;
        position: relative;
        border-bottom: none;
        + th:before {
          border-left: 1px solid #ddd;
          content: ' ';
          position: absolute;
          left: 0;
          bottom: 0;
          top: 0;
          margin: 15px 0;
        }
      }
    }
  }
  &.middle {
    th, td {
      vertical-align: middle;
    }
  }
  tr.middle {
    > td, > th {
      vertical-align: middle;
    }
  }

  td.middle, th.middle {
    vertical-align: middle;
  }

  td.row-select, th.row-select {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0;
    .checkbox {
      margin: 0;
      label {
        width: 20px;
        height: 20px;
        padding: 0;
        min-height: 0;
        border-radius: 50px;
        background-color: transparent;
        border: 1px solid $gray-darker;
        cursor: pointer;
      }
      input[type=checkbox] {
        visibility: hidden;
        &:checked + label {
          background-color: $lime-2;
        }
      }
    }

    + td, + th {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }

  > thead > tr > th, > tbody > tr > td {
    border-top-width: 0px;
  }

  > tbody > tr {
    transition: background-color 0.25s ease-in;
  }
}

.tabbed-table-container {
  border-radius: 5px;
  overflow: hidden;

  .tab-content {
    border: 1px solid $slate-095;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }

  .table {
    margin-bottom: 0;

    td {
      border-top: 1px solid $slate-095;
    }
  }
}

@media(max-width: $screen-sm-max) {
  .table {
    table-layout: fixed;

    > thead > tr > th, > tbody > tr > td {
      width: auto !important;
    }

    > thead > tr > th > a > .fa {
      display: none;
    }
  }
}
