<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.url == '/' %}
    <title>{{ site.data.project.title }} - {{ site.data.project.tagline }}</title>
    {% else %}
    <title>{{ page.title }} - {{ site.data.project.title }}</title>
    {% endif %}
    {% if site.data.project.description %}
    <meta name="description" content="{{ site.data.project.description }}">
    {% endif %}
    {% if site.data.project.base_href %}
    <base href="{{ site.data.project.base_href }}">
    {% endif %}
    {% if site.data.images.favicon %}
    <link rel="icon" type="image/x-icon" href="{{ site.data.images.favicon }}" />
    {% endif %}
    {% if site.data.images.apple_touch %}
    <link rel="apple-touch-icon-precomposed" href="{{ site.data.images.apple_touch }}">
    {% endif %}
</head>
<body>
{{ content }}
</body>
</html>
