@if ($border-radius-base == 0) {
  select.form-control {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
}

.file-input {
  .file-preview {
    .file-preview-thumbnails {
      @include clearfix;
      max-height: 270px;
      overflow-y: auto;
    }
  }
}

.bootstrap-tagsinput {
  display: block !important;
}

.checkbox, .radio {
  &, &-inline {
    label {
      font-weight: normal;
    }
  }
}

.form-group {
  margin-bottom: 30px;
  label {
    color: $slate-040;
  }
}
/*
  .form-group {
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #ECEEEF;
  }
*/

.toggle-switch {
  input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
      padding: 2px;
      width: 50px;
      height: 25px;
      background-color: #dddddd;
      border-radius: 25px;
      &:before, &:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
      }
      &:before {
        right: 1px;
        background-color: #f1f1f1;
        border-radius: 25px;
        transition: background 0.4s;
      }

      &:after {

        width: 23px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: margin 0.4s;
      }
    }

    &:checked {
      + label:before {
        background-color: $brand-success;
      }
      + label:after {
        margin-left: 25px;
      }
    }
  }
}
