.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F9FAFA;
}

.table-fixed {
  position:relative;

  .table-fixed-inner {
    overflow-x:scroll;
    overflow-y:visible;

    table {
      width: 100%;
      &.table {
        > thead {
          > tr > th {
            border-bottom: none;
          }
          + tbody > tr:first-child > td {
            border-top: 2px solid #ddd;
          }
        }
      }
    }
  }

  .fixed-column {
    position:absolute;
    margin-top: -1px;
  }

  &.fixed-options-column {
    .table-fixed-inner {
      margin-right:170px;
    }

    .options-column {
      right:0;
      width:170px;
    }
  }
}
