ul.tree-view {
  list-style: none;
  padding-left: 0;
  li {

  }
  ul {
    list-style: none;
  }
  .handle, .minify, .item-status, .item-title {
    display: inline-block;
    vertical-align: middle;
  }

  .handle, .minify {
    margin: 0 5px;
    color: $slate-060;
    line-height: 35px;
  }

  .minify {
    i {
      opacity: 0;
      will-change: transform, opacity;
      transition: transform .2s ease, opacity .2s ease;
    }
  }

  .has-sub-items {
    > .tree-item > .minify {
      cursor: pointer;
      > i {
        opacity: 1;
      }
    }
  }

  .row-expanded {
    > .tree-item > .minify > i {
      transform: rotate(90deg);
    }
  }

  .item-status {
    margin-left: 5px;
    margin-right: 2px;
  }

  .item-title {
    margin-right: 5px;
  }

  .tree-item {
    padding: 10px;
    background-color: $content-inner-background;
    margin: 0 0 5px;
    box-shadow: $standard-shadow;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: background-color 0.25s ease-in;
    will-change:background-color;

    &:hover {
      background-color: #f6f6f7;
    }
  }

  .dragged {
    opacity: 0.5;
    position: absolute;
  }

  .placeholder {
    content: " ";
    border: 2px dotted $brand-info;
    height: 2em;
  }
  .active {
    /*border:2px dotted tomato;*/
  }
  .handle {
    cursor: move;
  }

  .option-buttons {
    .btn {
      min-width: 35px;
    }

    .option-more {
      i {
        transition: transform .2s ease;
      }
    }

    .open {
      .option-more i {
        transform: rotate(90deg);
      }
    }
  }
}

.sortable-handle {
  text-align: center;
}

.active-circle, .inactive-circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}

.active-circle {
  background-color: $brand-success;
}

.inactive-circle {
  background-color: $gray-light;
}
