ul.tree-view{
    list-style: none;
    li{

    }
    ul{
        list-style: none;
    }

    .tree-item{
        padding:3px 3px 3px 10px;
        border:1px solid grey;
        margin: 3px 0;
        border-radius:3px;

        a.item-title{
            line-height:30px;
        }

        .minify{

        }
    }

    .dragged {
        opacity: 0.5;
        position: absolute;
    }

    .placeholder{
        content:" ";
        border:2px dotted tomato;
        height:2em;
    }
    .active {
        /*border:2px dotted tomato;*/
    }
    .handle{
        cursor:move;
    }
}